
@media (max-width: 576px) {  
    table {
        width: 100% !important;
    }
}
  
@media (min-width: 576px) {

    th, td {
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

th > div {
   min-width: max-content;
}

.active>.page-link, .page-link.active {
    border-color: var(--bs-pagination-active-border-color);
}

