<div class="container-fluid content px-5">
    <div class="content mt-5 px-5 py-3 rounded fade-in">
        <div class="text-md-center top-div mb-5">
            <h2 class="text-success">
                <span *ngIf="isDesktop">
                    <i class="fa-solid fa-circle-info text-secondary me-3"></i>{{ 'ProductView.header' | translate }}
                </span>
                {{ product?.productName }}
            </h2>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-xl-5 img-col ">
                <!-- Card principal para la imagen grande -->
                <div class="row col-12 card mb-3 big-card p-md-5 d-none d-md-block"
                    [ngClass]="{ 'd-none d-md-block': product!.productImages!.length > 1 }"
                >
                    <img [src]="'data:' + selectedImage.type + ';base64,' + selectedImage.picByte" 
                        class="card-img-top py-2 mx-md-auto" alt="Product Image" [ngClass]="{'fade-in': imageChanged}"
                        (animationend)="imageChanged = false"
                    >
                </div>
                <!-- Cards pequeñas debajo -->
                <div *ngIf="product!.productImages!.length > 1" class="row col-12 mt-4 gap-3">
                    <div *ngFor="let image of product?.productImages" class="col-12 col-md-6 card sm-card"
                         [ngClass]="{'selected-card': selectedImage === image}" (click)="selectImage(image)"
                    >
                        <div class="mt-2 mt-lg-0">
                            <img [src]="'data:' + image.type + ';base64,' + image.picByte" alt="Product Image" class="small-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 mt-5 mt-lg-0">
                <div class="product-information mt-3 mt-sm-0">
                    <div>
                        <h3><strong>{{ product?.productName }}</strong></h3>
                    </div>
                    <div class="mt-3">
                        <span>
                            <u>{{ 'ProductView.Description' | translate }}</u>
                        </span><br>
                        {{ product?.productDescription }}
                    </div>
                    <!-- Mostrar solo el precio actual si no hay descuento -->
                    <div *ngIf="product?.productDiscountedPrice == 0; else discountPrice" class="mt-3">
                        <span>
                            <u>{{ 'ProductView.ProductPrice' | translate }}</u>
                        </span><br>
                        <span>{{ product?.productActualPrice | currency: 'EUR' }}</span>
                    </div>

                    <!-- Mostrar precio rebajado y el original tachado si hay descuento -->
                    <ng-template #discountPrice>
                        <div class="mt-3">
                            <span><u>Product Price:</u></span><br>
                            <span class="badge rounded-pill bg-success me-2">{{ product?.productDiscountedPrice | currency: 'EUR' }}</span>
                            <span class="text-decoration-line-through">{{ product?.productActualPrice | currency: 'EUR' }}</span>
                        </div>
                    </ng-template>

                    <button *ngIf="isUser()" class="btn btn-success mt-4" (click)="buyProduct(product?.productId!)">
                        <i class="fa-regular fa-credit-card me-2"></i>{{ 'ProductView.BuyButton' | translate }}
                    </button>
                    <button *ngIf="isUser()" class="btn btn-success mt-4 ms-2" (click)="addToCart(product?.productId!)">
                        <i class="fa-solid fa-cart-shopping me-2"></i>{{ 'ProductView.CartButton' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
