<div class="container-fluid content px-5">
    <div class="content mt-5 px-5 py-3 rounded">
        <div class="text-md-center top-div mb-5">
            <h2 class="text-success">
                <span *ngIf="isDesktop"><i class="fa-solid fa-circle-info text-secondary me-3"></i>Product Details - </span>
                {{ product?.productName }}
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-6 img-col ">
                <!-- Card principal para la imagen grande -->
                <div class="row col-12 card mb-3 big-card p-md-5 d-none d-md-block"
                    [ngClass]="{ 'd-none d-md-block': product!.productImages!.length > 1 }"
                >
                    <img [src]="'data:' + selectedImage.type + ';base64,' + selectedImage.picByte" 
                        class="card-img-top py-2 mx-md-auto" alt="Product Image"
                    >
                </div>
                <!-- Cards pequeñas debajo -->
                <div *ngIf="product!.productImages!.length > 1" class="row col-12 mt-4 px-md-5">
                    <div *ngFor="let image of product?.productImages" class="col-md-6 col-lg-4">
                        <div class="mt-2 mt-lg-0" (click)="selectImage(image)">
                            <img [src]="'data:' + image.type + ';base64,' + image.picByte" alt="Product Image"
                                [ngClass]="['small-img', selectedImage === image && isDesktop ? 'selected-card' : '']" 
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <div class="product-information mt-3 mt-sm-0">
                    <div>
                        <h3><strong>{{ product?.productName }}</strong></h3>
                    </div>
                    <div class="mt-3">
                        <span><u>Description:</u></span><br>
                        {{ product?.productDescription }}
                    </div>
                    <!-- Mostrar solo el precio actual si no hay descuento -->
                    <div *ngIf="product?.productDiscountedPrice == 0; else discountPrice" class="mt-3">
                        <span><u>Product Price:</u></span><br>
                        <span>{{ product?.productActualPrice | currency: 'EUR' }}</span>
                    </div>

                    <!-- Mostrar precio rebajado y el original tachado si hay descuento -->
                    <ng-template #discountPrice>
                        <div class="mt-3">
                            <span><u>Product Price:</u></span><br>
                            <span class="badge rounded-pill bg-success me-2">{{ product?.productDiscountedPrice | currency: 'EUR' }}</span>
                            <span class="text-decoration-line-through">{{ product?.productActualPrice | currency: 'EUR' }}</span>
                        </div>
                    </ng-template>

                    <button class="btn btn-success mt-4">
                        <i class="fa-solid fa-cart-shopping me-2"></i>Buy now
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
