<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <div class="me-5"><img src="assets/images/ecommerce.png" alt="home" width="45"/></div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item ms-3">
            <a class="nav-link active" aria-current="page" routerLink="/"><i class="fa-solid fa-house me-2"></i>Home</a>
          </li>

          <li *ngIf="isUser() && isLoggedIn()" class="nav-item ms-3">
            <a class="nav-link active" aria-current="page" routerLink="/cart"><i class="fa-solid fa-cart-shopping me-2"></i>Cart</a>
          </li>

          <li *ngIf="isAdmin()" class="nav-item ms-3">
            <a class="nav-link active" aria-current="page" routerLink="/addNewProduct">
              <i class="fa-solid fa-plus me-2"></i>Add New Product
            </a>
          </li>

          <li *ngIf="isAdmin()" class="nav-item ms-3">
            <a class="nav-link active" aria-current="page" routerLink="/showProductDetails">
              <i class="fa-solid fa-table-list me-2"></i>Show products
            </a>
          </li>

        </ul>

        <button *ngIf="!isLoggedIn()" type="button" class="btn btn-light me-2" routerLink="/login">
          <i class="fa-solid fa-right-to-bracket me-2"></i>Login
        </button>
        <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket me-2"></i>Logout
        </button>

      </div>
    </div>
  </nav>