<div class="container-fluid content px-5">
    <div class="content mt-5 px-5 py-3 text-success bg-white rounded">
        <div class="text-center mb-5">
            <h2><i class="fa-solid fa-house text-secondary me-3"></i>Home Page</h2>
        </div>
        <div class="row">
            <!-- Buscador -->
            <div class="mb-4">
                <div class="col-12 d-flex align-items-center">
                    <input 
                        type="text" 
                        class="form-control search" 
                        placeholder="Search products by product name ..." 
                        [(ngModel)]="searchKey" 
                        (ngModelChange)="searchProducts()"
                        name="searchKey"
                    >    
                    <i class="fa-solid fa-magnifying-glass fa-lg ms-2"></i>            
                </div>
            </div>
  
            <div *ngFor="let product of products" class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 mb-4">
                <div class="card p-2 d-flex flex-column">
                    <img *ngIf="product.productImages && product.productImages.length > 0 ; else defaultImage" 
                        [src]="'data:' + product.productImages[0].type + ';base64,' + product.productImages[0].picByte"
                        class="card-img-top"
                        [alt]="product.productName"
                    >
                    <ng-template #defaultImage>
                        <img src="/assets/images/default.png" class="card-img-top" alt="Default Image">
                    </ng-template>

                    <div class="card-body mx-2 mx-xl-5 d-flex flex-column justify-content-between">
                        <div>
                            <strong>Product Name: </strong>{{ product.productName }}
                        </div>
                        <div>
                            <strong>Product Description: </strong>
                            <span [ngClass]="{'description-text': true}">
                                {{ product.productDescription.length > 100 ? (product.productDescription | slice: 0:100) + '...' : product.productDescription }}
                            </span>
                        </div>
                        <!-- Mostrar solo el precio actual si no hay descuento -->
                        <div *ngIf="product.productDiscountedPrice == 0; else discountPrice" >
                            <strong>Product Price: </strong>
                            <span>{{ product.productActualPrice | currency: 'EUR' }}</span>
                        </div>

                        <!-- Mostrar precio rebajado y el original tachado si hay descuento -->
                        <ng-template #discountPrice>
                            <div>
                                <strong>Product Price: </strong>
                                <span class="badge rounded-pill bg-success me-2">{{ product.productDiscountedPrice | currency: 'EUR' }}</span>
                                <span class="text-decoration-line-through">{{ product.productActualPrice | currency: 'EUR' }}</span>
                            </div>
                        </ng-template>

                        <div class="d-flex justify-content-center mt-3" style="margin-top: auto;">
                            <button class="btn btn-success" style="margin-bottom: 10px;" (click)="showProductDetails(product.productId!)">
                                <i class="fa-solid fa-circle-info me-2"></i>View details
                            </button>
                        </div>
                    </div>
                </div>
            </div>

              <!-- Pagination -->
            <div class="d-flex justify-content-center mt-4">
                <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!-- Previous -->
                    <li class="page-item" [class.disabled]="currentPage === 0">
                    <a class="page-link bg-success text-white" (click)="changePage(currentPage - 1)">
                        Previous
                    </a>
                    </li>

                    <!-- Páginas (con límite de rango) -->
                    <li *ngFor="let page of getVisiblePages()" class="page-item" [class.active]="currentPage === page">
                    <a class="page-link bg-success text-white mx-1" href="javascript:void(0)" (click)="changePage(page)">
                        {{ page + 1 }}
                    </a>
                    </li>

                    <!-- Next -->
                    <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
                    <a class="page-link bg-success text-white" href="javascript:void(0)" (click)="changePage(currentPage + 1)">
                        Next
                    </a>
                    </li>
                </ul>
                </nav>
            </div>
            
        </div>
    </div>
</div>
