<div class="container-fluid content px-5">
    <div class="content mt-5 px-5 py-3 rounded fade-in">
        <div class="text-md-center top-div mb-5">
            <h2 class="text-success">
                User Dashboard
            </h2>
        </div>
        
        <div class="row mb-5">
            <div *ngIf="salesData" class="col-6">
                <h2 class="text-center">Sales per month</h2>
                <canvas baseChart [data]="chartDataSalesPerMonth" chartType="bar" [options]="chartOptions"></canvas>
            </div>

            <div *ngIf="ordersData"class="col-6" id="ordersChart">
                <h2 class="text-center">My Orders</h2>
                <canvas baseChart
                    [data]="chartDataOrdersByStatus"
                    [options]="chartOptions"
                    [type]="'doughnut'">
                </canvas>
            </div>
        </div>

        <div  *ngIf="last4Orders" class="table-responsive mt-200">
            <h2 class="text-center">Last orders</h2>
            <table class="table  table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th><div><i class="fa-regular fa-credit-card me-2"></i><span>ID</span></div></th>
                        <th><div><i class="fa-solid fa-align-justify me-2"></i><span>Order date</span></div></th>
                        <th><div><i class="fa-solid fa-map-location-dot me-2"></i><span>Status</span></div></th>
                        <th><div><i class="fa-solid fa-phone me-2"></i><span>Product Name</span></div></th>
                        <th><div><i class="fa-solid fa-arrow-up-1-9 me-2"></i><span>Amount</span></div></th>
                        <th><div><i class="fa-brands fa-files-pinwheel me-2"></i><span>Actual price</span></div></th>
                        <th><div><i class="fa-solid fa-gear me-2"></i><span>Discounted price</span></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of last4Orders">
                        <td>{{ order.orderId }}</td>
                        <td>{{ order.orderDate | date: 'dd/MM/yyyy HH:mm' }}</td>
                        <td>{{ order.orderStatus }}</td>
                        <td>{{ order.productName }}</td>
                        <td>1</td> <!-- Si no tienes la cantidad, puedes dejar 1 -->
                        <td>{{ order.productActualPrice | currency }}</td>
                        <td>{{ order.productDiscountedPrice | currency }}</td>
                    </tr>
            
                </tbody>
            </table>
        </div>

    </div>
</div>
