<div class="container">
    <div class="card mt-5 px-5 py-3 text-success shadow bg-white rounded fade-in">
        <div class="text-center">
            <h2><i class="fa-solid fa-user text-secondary me-3"></i>Login</h2>
        </div>
        <form class="mt-3" #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate>
            <input class="form-control mb-3" type="text" name="userName" id="userName" placeholder="{{ 'Login.Username.placeholder' | translate }}" 
                [(ngModel)]="userName" required #userNameField="ngModel" autocomplete="username"
            >
                
            <div *ngIf="userNameField.invalid && userNameField.dirty" class="alert alert-danger py-2 mt-2">
                {{ 'Login.Username.required' | translate }}
            </div>
        
            <input class="form-control mb-3" type="password"  name="userPassword" id="userPassword" 
                placeholder="{{ 'Login.Password.placeholder' | translate }}" [(ngModel)]="userPassword" required 
                #userPasswordField="ngModel" autocomplete="current-password" 
            >
                
            <div *ngIf="userPasswordField.invalid && userPasswordField.dirty" class="alert alert-danger py-2 mt-2">
                {{ 'Login.Password.required' | translate }}
            </div>
                 
            <button type="submit" class="btn btn-success mb-3" [disabled]="loginForm.invalid">
                <i class="fa-solid fa-right-to-bracket me-2"></i>Login
            </button>

            <div class="text-center">
                <span>{{ 'Login.Register.question' | translate }}
                    <a routerLink="/register" class="text-success">{{ 'Login.Register' | translate }}</a>
                </span>
            </div>
        </form>
        
        
    </div>
</div>
