html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
  
app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  

  
footer {
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%; 
    min-height: 80vh;
    padding-bottom: 80px;
}


.content {
    min-width: 100%;
    min-height: 100vh;
}

.form-control:focus {
    border-color: #198754 !important;
    box-shadow: 0 0 0 .25rem rgba(7, 184, 78, 0.25) !important;
}

.success-bg {
  background-color: #198754 !important;
  color: white !important;
}

.custom-btn-secondary {
    background-color: #d3d4d5 !important;
    color: black !important;
}

.required::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

/* Capa de fondo oscurecida */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
    z-index: 1040; /* Colocar encima de otros elementos, pero debajo del modal */
  }
  
  /* Aseguramos que el modal tiene prioridad y se muestre encima */
  .modal {
    z-index: 1050; /* Colocamos el modal por encima de la capa de fondo */
  }
  