.truncate-text {
    max-width: 300px; /* Ajusta según el diseño */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover: se agranda y gana sombra */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}